Drs.Service/Service References/SyncServerSvc/SyncServerSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncServerSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISyncServerSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2898/Sync/SyncServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2898/Sync/SyncServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2898/Sync/SyncServer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestMessageServerFileSync">
    <wsdl:part name="parameters" element="tns:RequestMessageServerFileSync" />
  </wsdl:message>
  <wsdl:message name="ResponseMessageServerFileSync">
    <wsdl:part name="parameters" element="tns:ResponseMessageServerFileSync" />
  </wsdl:message>
  <wsdl:message name="ResponseMessageServerFileSync_Headers">
    <wsdl:part name="HasError" element="tns:HasError" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="ISyncServerSvc_SetFranchiseVersionTerminalOk_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFranchiseVersionTerminalOk" />
  </wsdl:message>
  <wsdl:message name="ISyncServerSvc_SetFranchiseVersionTerminalOk_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFranchiseVersionTerminalOkResponse" />
  </wsdl:message>
  <wsdl:portType name="ISyncServerSvc">
    <wsdl:operation name="GetFileByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncServerSvc/GetFileByName" name="RequestMessageServerFileSync" message="tns:RequestMessageServerFileSync" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncServerSvc/GetFileByNameResponse" name="ResponseMessageServerFileSync" message="tns:ResponseMessageServerFileSync" />
    </wsdl:operation>
    <wsdl:operation name="SetFranchiseVersionTerminalOk">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncServerSvc/SetFranchiseVersionTerminalOk" message="tns:ISyncServerSvc_SetFranchiseVersionTerminalOk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncServerSvc/SetFranchiseVersionTerminalOkResponse" message="tns:ISyncServerSvc_SetFranchiseVersionTerminalOk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISyncServerSvc" type="tns:ISyncServerSvc">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISyncServerSvc_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileByName">
      <soap:operation soapAction="http://tempuri.org/ISyncServerSvc/GetFileByName" style="document" />
      <wsdl:input name="RequestMessageServerFileSync">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseMessageServerFileSync">
        <soap:header message="tns:ResponseMessageServerFileSync_Headers" part="HasError" use="literal" />
        <soap:header message="tns:ResponseMessageServerFileSync_Headers" part="Message" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFranchiseVersionTerminalOk">
      <soap:operation soapAction="http://tempuri.org/ISyncServerSvc/SetFranchiseVersionTerminalOk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncServerSvc">
    <wsdl:port name="BasicHttpBinding_ISyncServerSvc" binding="tns:BasicHttpBinding_ISyncServerSvc">
      <soap:address location="http://localhost:2898/Sync/SyncServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>