Drs.Service/Service References/SyncServerSvc/SyncServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2898/Sync/SyncServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2898/Sync/SyncServer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="RequestMessageServerFileSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UidVersion" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseMessageServerFileSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="File" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasError" type="xs:boolean" />
  <xs:element name="Message" nillable="true" type="xs:string" />
  <xs:element name="SetFranchiseVersionTerminalOk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="franchiseId" type="xs:int" />
        <xs:element minOccurs="0" name="sVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMaInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFranchiseVersionTerminalOkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>