Drs.Service/Service References/SyncFranchiseSvc/SyncFranchise2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FranchiseChannel.Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FranchiseChannel.Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseMessageFc">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalFiles" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageFc" nillable="true" type="tns:ResponseMessageFc" />
  <xs:complexType name="ResponseMessageFcUnSync">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseMessageFc">
        <xs:sequence>
          <xs:element minOccurs="0" name="LstFiles" nillable="true" type="tns:ArrayOfUnSyncFilesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseMessageFcUnSync" nillable="true" type="tns:ResponseMessageFcUnSync" />
  <xs:complexType name="ArrayOfUnSyncFilesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnSyncFilesModel" nillable="true" type="tns:UnSyncFilesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnSyncFilesModel" nillable="true" type="tns:ArrayOfUnSyncFilesModel" />
  <xs:complexType name="UnSyncFilesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckSum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnSyncFilesModel" nillable="true" type="tns:UnSyncFilesModel" />
</xs:schema>