Drs.ViewModel/Service References/SettingSvc/Setting1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2898/Setting/Setting.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Drs.Model.Settings" />
  <xs:element name="FindAllSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Drs.Model.Settings" minOccurs="0" name="FindAllSettingsResult" nillable="true" type="q1:ResponseMessageSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllControlTitlesByLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iLanguageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllControlTitlesByLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Drs.Model.Settings" minOccurs="0" name="FindAllControlTitlesByLanguageResult" nillable="true" type="q2:ResponseMessageSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>