Drs.Service/Service References/CustomerOrder/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.110:8732/LASA_CallCenter_Interface_Ws/CustomerOrder/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://192.168.1.110:8732/LASA_CallCenter_Interface_Ws/CustomerOrder/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" />
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="customer" nillable="true" type="q1:CustomerCrud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="AddCustomerResult" nillable="true" type="q2:ResponseTor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="customer" nillable="true" type="q3:CustomerCrud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q4:ResponseTor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="DeleteCustomerResult" nillable="true" type="q5:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="order" nillable="true" type="q6:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="AddOrderResult" nillable="true" type="q7:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculteTaxAndTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="order" nillable="true" type="q8:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculteTaxAndTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="CalculteTaxAndTotalResult" nillable="true" type="q9:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSlotAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSlotAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetTimeSlotAvailabilityResult" nillable="true" type="q10:ResponseGen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreparationTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreparationTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetPreparationTimeResult" nillable="true" type="q11:ResponseGen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>