Drs.ViewModel/Service References/LoginSvc/Login2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2898/Account/Login.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Drs.Model.Account" />
  <xs:import schemaLocation="http://localhost:2898/Account/Login.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Drs.Model.Shared" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Drs.Model.Account" minOccurs="0" name="login" nillable="true" type="q1:LoginModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Drs.Model.Shared" minOccurs="0" name="LoginResult" nillable="true" type="q2:ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>