Drs.ViewModel/Service References/CatalogsSvc/Catalogs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Drs.Model.Settings" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Drs.Model.Settings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2898/Catalogs/Catalogs.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Drs.Model.Shared" />
  <xs:complexType name="ResponseCatalogs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Drs.Model.Shared" base="q1:ResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="LstDeliveryStatus" nillable="true" type="q1:ArrayOfItemCatalog" />
          <xs:element minOccurs="0" name="LstPayments" nillable="true" type="q1:ArrayOfItemCatalog" />
          <xs:element minOccurs="0" name="LstStores" nillable="true" type="q1:ArrayOfItemCatalog" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseCatalogs" nillable="true" type="tns:ResponseCatalogs" />
</xs:schema>