Drs.Service/Service References/QueryFunction/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.110:8732/LASA_CallCenter_Interface_Ws/QueryFunction/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" />
  <xs:element name="GetOrderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetOrderByIdResult" nillable="true" type="q1:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetCustomerByIdResult" nillable="true" type="q2:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByReferenceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="referenceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByReferenceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetCustomerByReferenceIdResult" nillable="true" type="q3:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByPhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetCustomersByPhoneNumberResult" nillable="true" type="q4:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driverId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetDriverByIdResult" nillable="true" type="q5:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
        <xs:element minOccurs="0" name="cancelIfOrdered" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="CancelOrderResult" nillable="true" type="q6:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFutureOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFutureOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetAllFutureOrdersResult" nillable="true" type="q7:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetAllDriversResult" nillable="true" type="q8:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q9:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" minOccurs="0" name="GetAllCurrentOrdersResult" nillable="true" type="q10:ResponseRd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>