Drs.Service/Service References/QueryFunction/item43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LASA_CallCenter_Interface_Ws.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.110:8732/LASA_CallCenter_Interface_Ws/QueryFunction/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="ResponseRd">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseMessage">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Customer" nillable="true" type="q1:Customer" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Customers" nillable="true" type="q2:Customers" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Driver" nillable="true" type="q3:Driver" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Drivers" nillable="true" type="q4:Drivers" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Order" nillable="true" type="q5:Order" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Orders" nillable="true" type="q6:Orders" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseRd" nillable="true" type="tns:ResponseRd" />
  <xs:complexType name="ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
</xs:schema>