Drs.Service/Service References/SyncService/SyncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4209/Sync/SyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:4209/Sync/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FranchiseChannel.Service.Model" />
  <xs:import schemaLocation="http://localhost:4209/Sync/SyncService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="QueryForFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="uidVersion" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryForFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FranchiseChannel.Service.Model" minOccurs="0" name="QueryForFilesResult" nillable="true" type="q2:ResponseMessageFc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnSyncListOfFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="uidVersion" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnSyncListOfFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FranchiseChannel.Service.Model" minOccurs="0" name="GetUnSyncListOfFilesResult" nillable="true" type="q4:ResponseMessageFcUnSync" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMessageFileSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UidVersion" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseMessageFileSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="File" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasError" type="xs:boolean" />
  <xs:element name="Message" nillable="true" type="xs:string" />
</xs:schema>