Drs.Service/Service References/SyncService/SyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISyncService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4209/Sync/SyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4209/Sync/SyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4209/Sync/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FranchiseChannel.Service.Model" />
      <xsd:import schemaLocation="http://localhost:4209/Sync/SyncService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncService_QueryForFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryForFiles" />
  </wsdl:message>
  <wsdl:message name="ISyncService_QueryForFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryForFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetUnSyncListOfFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnSyncListOfFiles" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetUnSyncListOfFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnSyncListOfFilesResponse" />
  </wsdl:message>
  <wsdl:message name="RequestMessageFileSync">
    <wsdl:part name="parameters" element="tns:RequestMessageFileSync" />
  </wsdl:message>
  <wsdl:message name="ResponseMessageFileSync">
    <wsdl:part name="parameters" element="tns:ResponseMessageFileSync" />
  </wsdl:message>
  <wsdl:message name="ResponseMessageFileSync_Headers">
    <wsdl:part name="HasError" element="tns:HasError" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:portType name="ISyncService">
    <wsdl:operation name="QueryForFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/QueryForFiles" message="tns:ISyncService_QueryForFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/QueryForFilesResponse" message="tns:ISyncService_QueryForFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnSyncListOfFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetUnSyncListOfFiles" message="tns:ISyncService_GetUnSyncListOfFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetUnSyncListOfFilesResponse" message="tns:ISyncService_GetUnSyncListOfFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetFileByName" name="RequestMessageFileSync" message="tns:RequestMessageFileSync" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetFileByNameResponse" name="ResponseMessageFileSync" message="tns:ResponseMessageFileSync" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISyncService" type="tns:ISyncService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISyncService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryForFiles">
      <soap:operation soapAction="http://tempuri.org/ISyncService/QueryForFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnSyncListOfFiles">
      <soap:operation soapAction="http://tempuri.org/ISyncService/GetUnSyncListOfFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByName">
      <soap:operation soapAction="http://tempuri.org/ISyncService/GetFileByName" style="document" />
      <wsdl:input name="RequestMessageFileSync">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseMessageFileSync">
        <soap:header message="tns:ResponseMessageFileSync_Headers" part="HasError" use="literal" />
        <soap:header message="tns:ResponseMessageFileSync_Headers" part="Message" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="BasicHttpBinding_ISyncService" binding="tns:BasicHttpBinding_ISyncService">
      <soap:address location="http://localhost:4209/Sync/SyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>